.ReactReplacinator * {
  line-height: 1.8;
  font-size: 1rem;
}

.ReactReplacinator-tag {
  padding: 0 10px;
  display: inline-block;
  border-radius: 1rem;
  border: none;
  color: #ffffff;
}

.ReactReplacinator-tag-bar {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.ReactReplacinator-tag-bar .ReactReplacinator-tag {
  margin-right: 10px;
}

.ReactReplacinator-template-editor {
  border: 1px solid #595959;
  min-height: 500px;
  border-radius: 4px;
  padding: 10px;
}
